body {
  background: #f3f0d1;
}

header {
  background-color: #d27b21;
  font-size: 60px;
  font-family: courier;
  padding:10px;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 15%;
  float: left;
  box-sizing: border-box;
  padding-top: 10px;
}
nav a {
  font-size : 20px;
  text-decoration: none;
  color: black;
  font-family:courier;
}
nav a:hover {
  background-color: #d27b21;
  color: white;
  padding:5px 5px;
  transition: 1.0s;
}

main {
  width:85%;
  float: right;
  padding: 5px 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: courier;
}
